{% extends 'layout.html' %}
{% block body %}

<div class="container" style =" 
max-width: 500px;
padding: 10px;
margin-top:5%;
padding-left: 24px;
font-weight: 700;
background: rgb(176,185,230);
border-radius: 10px;
">
    <br><br>
    <div >
    <div class="input-group" >
        <form action="#" method="POST" enctype="multipart/form-data" >
            <br>
            <br>
            <label for="exampleInputEmail1" class="form-label" style="	border: none;
            border-bottom: 2px solid #D1D1D4;
            background: none;
        
            padding-left: 24px;
            font-weight: 700;
            width: 95%;
            transition: .2s;">nom </label>
            <input type="text" name="name" class="form-control"/>
            <div id="emailHelp" class="form-text">---------------------Entrez le nom du patient -------------------------------</div>
            <br>
            <br>
            <br>

            <br>
            <input type="file" class="form-control" name="image_name" required>
            <input type="submit" value="Upload" class="btn btn-outline-secondary">
        </form>
    </div>    
</div>
</div></div>
    {% if upload %}
        <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        table, td, th {
  border: 1px solid black;
}

        table {
  border-collapse: collapse;
  width: 100%;
}

        td {
  text-align: center;
}
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        </style>
        <div class="container">
            <br><br>
            <table>
                <tr>
                    <td>
                        <img class="rounded float-left img-fluid" src="/static/upload/{{ upload_image }}" alt="" width="400" 
                        height="500">
                    </td>
                </tr>

            </table>
            <br>
            <table id="customers">
                <tr width="50"
              
                height="50">
                    
                    <th>Result</th>
                </tr>
                <tr width="50" 
                height="50">
                    <td >
                        <h1 class="display-8"> {{ text }}</h1>
                    </td>

                </tr>
            </table>

        </div>
    
    
    {% endif %}


{% endblock  %}
